h1 {
    text-align: center;
    font-size: 2.5em;
    color: #1d3d5c;
    margin-top: 20px;
}

.Rbotton{
    width: 100%;
    padding: 12px;
    background-color: #bd1d1d;
    color: rgb(54, 40, 40);
    font-size: 25px;
    border-radius: 5px;
    border: none;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

ul li {
    background-color: #cfe4e9;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}


form {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 12px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 10px;
}

form button {
    width: 20%;
    padding: 12px;
    background-color: #2abd1d;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}
.Rbotton:hover {
    background-color: #b44c4c;
}

button:hover {
    background-color: #7b9159;
}

p {
    text-align: center;
    color: #d1d1d1;
    font-size: 80px;
    margin-top: 20px;
}

